a{
  text-decoration: none;
  cursor: pointer;
}
html
{
  width: 100%;
  height: 100%;
}

body
{
  margin: 0px;
  width: 100%;
  height: 98%;
  background: rgb(245, 245, 245);
  background: -webkit-linear-gradient(right, #8e9eab, #eef2f3);
  background-size: contain;
}
.menuBar{
  display:flex;
  background-color: gray;
  height: 60px;
  width: 100%;
}
.menuLeft{
  display: flex;
  width: 50%;
}
.menuRight{
  display: flex;
  justify-content: flex-end;
  width: 48%;

}
.menuLink{
  color:white;
}
.menuHide{
  display:none;
}
.menuShow{
  display: block;
}
.menuDiv{
  padding-left: 20px;
  padding-top: 20px;
}
.alignRight.menuBar{
  float: right;
}
.mainContainer
{
  left: 0;
  position: absolute;
  text-align: center;
  margin-top: -12%;
  top: 50%;
  width: 95%;
  margin-left: 2%;
  border: none;
}
.itemContainer{
  margin: auto;
  border-style: solid;
  width: 85%;
  height: 70%;
  display: flex;
}
.imgLeft{
  width: 60%;
  height: 100%;
  border-style: solid;
}
.itemSide{
  width: 40%;
}
.itemDetail{
  height: 40%;
  width: 100%;
  border-style: solid;
  background-color: skyblue;
}
.commentContainer{
  background-color: lightgray;
  border-style: solid;
  width: 100%;
}
.pageDiv{
  width: 100%;
  height: 80%;
  display:flex;
}
.postNav{
  border-style: solid;
  background-color: yellow;
  width: 5%;
  height: 80%;
}
*:focus
{
    outline: none;
}
