.dropdownButt {
  background-color: #4CAF50;
  color: white;
  padding: 0px;
  font-size: 16px;
  border: none;
  position: relative;
  cursor: pointer;
  height: inherit;
  width: inherit;
}

.dropdownButt:hover, .dropdownButt:focus {
  background-color: #3e8e41;
}

.dropdown {
  position: relative;
  width: 10em;
  height: 4em;
  margin-bottom: 1%;
  margin-right: none;
  margin-top: none;
}

#x15:hover, #x19:hover, #compv1:hover, #onev1:hover, #gridReset:hover
{
  background-color: tomato;
}

.clickContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width:inherit;
  line-height: 2em;
  overflow: auto;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;

}

html
{
  width: 100%;
  height: 100%;
}

body
{
  width: 99%;
  height: 98%;
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: contain;

}

.menuContainer
{
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: none;
  margin-right: none;
  margin-left: none;
  padding-left: 0px;
}

.gameContainer
{
  display: flex;
  width: 100%;
  height: auto;
  vertical-align: top;
  align-content: center;
  margin: none;
  margin-right: none;
  
  
}

.infoContainer
{
  width:auto;
  height: auto;
  vertical-align: inherit;
  margin: auto;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 900;
  font-size: 125%;
  color:whitesmoke;
}

.info
{
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
}

.gridContainer
{
  position: relative;
  width: 800px;
  height: 800px;
  margin: auto;
}

.noClick
{
  pointer-events: none;
}

table
{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  border-collapse: collapse;
  border: none;
}

td
{
  border: none;
  width: 5%;
  height: inherit;
  align-items: center;
}

tr
{
  height: 5%;
  width: 100%;
  border:none;
}

.gridCell
{
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  background: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 900;
  font-size: 150%;
  opacity: 0.8;
  color: crimson;
}

.flashClass
{
  animation: suggestAnimation;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.gridCell:hover
{
  animation: regBoxBorder;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes suggestAnimation
{
  0%, 100%
  {
    background: rgb(241, 87, 120);
  }
  50%
  {
    background: rgb(87, 197, 241);
  }
}

@-webkit-keyframes regBoxBorder {
  0%
  {
    background-color: #ffcccc;
  }
  20%
  {
    background-color: #ffe5cc;
  }
  60%
  {
    background-color: #fffecc;
  }
  60%
  {
    background-color: #e6ffcc;
  }
  80%
  {
    background-color: #ccffcc;
  }
  100%
  {
    background-color: #ccffe5;
  }
}

.show
{
  display:block;
}

.colorDeepPink:hover
{
  background: DeepPink;
}

.colorLightSalmon:hover
{
  background: LightSalmon;
}

.colorSalmon:hover
{
  background: Salmon;
}

.colorLightCoral:hover
{
  background: LightCoral;
}

.colorCrimson:hover
{
  background: Crimson;
}

.colorOrangeRed:hover
{
  background: OrangeRed;
}

.colorTomato:hover
{
  background: Tomato;
}

.colorYellow:hover
{
  background: Yellow;
}

.colorOrange:hover
{
  background: Orange;
}

.colorPeachPuff:hover
{
  background: PeachPuff;
}

.colorGold:hover
{
  background: Gold;
}

.colorGoldenrod:hover
{
  background: Goldenrod;
}

.colorLime:hover
{
  background: Lime;
}

.colorMediumAquamarine:hover
{
  background: MediumAquamarine;
}

.colorAqua:hover
{
  background: Aqua;
}

.colorAquamarine:hover
{
  background: Aquamarine;
}

.colorMediumTurquoise:hover
{
  background: MediumTurquoise;
}

.colorSkyBlue:hover
{
  background: SkyBlue;
}

.colorDeepSkyBlue:hover
{
  background: DeepSkyBlue;
}

.colorViolet:hover
{
  background: Violet;
}

.colorMagenta:hover
{
  background: Magenta;
}

.colorAzure:hover
{
  background: Azure;
}

.colorLavenderBlush:hover
{
  background: LavenderBlush;
}

.colorLightGray:hover
{
  background: LightGray;
}

.colorSlateGray:hover
{
  background: SlateGray;
}